@import '~bootstrap/dist/css/bootstrap.min.css'; 
.Homepage{
    width: 100%;
    height: 90vh;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    position: relative;
}
.logotext{
    font-size: 1em;
}

.HomePart2{
    grid-row: span 2;
}
.homeImage{
    bottom: 0;
}
.page2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 6em;
    gap: 4em;
}
.page2-elem{
    padding: 2em;
}
.page2-elem:hover{
    background-color: #8064A2;
}
.page3{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7FDFF;
    padding: 10em;
}
.page4{
    width: 100%;
    height: 60vh;
    padding:8em 12em 8em 12em;
}
.page5{
    background-color: #F7FDFF;
    padding:8em 12em 8em 12em;
}
.page5 img{
    width: 100%;
}
.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 4em;
    gap: 2em;
}
.footer ul{
    list-style: none;
}
.footer-part2{
    background-color: #C8FDFF;
}
@media screen and (max-width:900px){
    .Homepage{
        grid-template-columns: repeat(1,1fr);
        height: auto;
        padding:0 2em;
    }
    .homeImage{
        width:100%
    }
    .HomePart2{
        grid-row:auto;
    }
    .page2{
        grid-template-columns: repeat(1,1fr);
        gap: 1em;
    }
    .page3{
        height: auto;
        padding: 1em;
    }
    .page4{
        height: auto;
        padding: 2em;
    }
    .page5{
        padding: 2em;
        height: auto;
    }
    .footer{
        padding:2em;
        gap: 0.8em;
    }
}
@media screen and (max-width:600px) {
    .Homepage{
        grid-template-columns: repeat(1,1fr);
        height: auto;
        padding:0 2em;
    }
    .homeImage{
        width:100%
    }
    .HomePart2{
        grid-row:auto;
    }
    .page2{
        grid-template-columns: repeat(1,1fr);
        gap: 1em;
        padding: 1em;
    }
    .page3{
        height: auto;
        padding: 1em;
    }
    .page4{
        height: auto;
        padding: 1em;
    }
    .page5{
        padding: 2em;
        height: auto;
    }
    .footer{
        grid-template-columns: repeat(1,1fr);
        padding:2em;
        gap: 2em;
    }
}
